[submodule ".registry"]
	path = .registry
	url = https://github.com/heidihelena/heidihelena.r-universe.dev
	branch = HEAD
[submodule "forskai"]
	path = forskai
	url = https://github.com/heidihelena/forskai-r
[submodule "qualivahti"]
	path = qualivahti
	url = https://github.com/heidihelena/qualivahti-scripts
	subdir = rpkg
[submodule "recoverlite"]
	path = recoverlite
	url = https://github.com/heidihelena/recoverlite
[submodule "vahtian"]
	path = vahtian
	url = https://github.com/heidihelena/vahtian
	subdir = packages/vahtian-r
[submodule "vahtian.epinet"]
	path = vahtian.epinet
	url = https://github.com/heidihelena/epinet
	subdir = r/vahtian.epinet
